In [6]:
#Read csv using pandas library
import pandas as pd

In [7]:
#Read csv from url
data = pd.read_csv("Advertising.csv",index_col=0)
data.tail()

        TV  Radio  Newspaper  Sales
196   38.2    3.7       13.8    7.6
197   94.2    4.9        8.1    9.7
198  177.0    9.3        6.4   12.8
199  283.6   42.0       66.2   25.5
200  232.1    8.6        8.7   13.4

In [8]:
data.columns

Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [9]:
#list of features names
feature_col = ['TV','Radio','Newspaper']

In [10]:
#subset of original dataframe
x = data[feature_col]

In [11]:
x.head()

      TV  Radio  Newspaper
1  230.1   37.8       69.2
2   44.5   39.3       45.1
3   17.2   45.9       69.3
4  151.5   41.3       58.5
5  180.8   10.8       58.4

In [12]:
#select a sales series from dataframe
y = data['Sales']
y.head()

1    22.1
2    10.4
3     9.3
4    18.5
5    12.9
Name: Sales, dtype: float64

In [13]:
#cross validation train test split
from sklearn.model_selection import train_test_split

In [14]:
#default split 75% training and 25% testing
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=1)

In [15]:
############# Linear Regression #############
#import the model
from sklearn.linear_model import LinearRegression

In [16]:
#Instantiate
linreg = LinearRegression()

In [17]:
#fit the model with data
linreg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [18]:
#Intercept and coefficent
print(linreg.intercept_)
print(linreg.coef_)

2.8769666223179318
[0.04656457 0.17915812 0.00345046]

In [19]:
#predict the outcome
linreg_res = linreg.predict(x_test)

In [20]:
#define true and predicted response values
true = [100,50,30,20]
pred = [90,50,50,30]

In [21]:
#Mean Absolute Error
(10+0+20+10)/4

10.0

In [23]:
#calculate Mean Absloute Error(MAE) using scikitLearn
from sklearn import metrics
metrics.median_absolute_error(true,pred)

10.0

In [26]:
#calculate mean squared error(MSE)
import numpy as np
print((10**2+0**2+20**2+10**2)/4)
print(metrics.mean_squared_error(true,pred))

150.0
150.0

In [28]:
#calculate Root Mean Squared Error(RMSE)
print(np.sqrt((10**2+0**2+20**2+10**2)/4))
print(np.sqrt(metrics.mean_squared_error(true,pred)))

12.24744871391589
12.24744871391589

In [31]:
# MAE is easy to understand and it calculates the average error. MSE is popular than MAE and it punishes the larger 
# error. RMSE is advance than MSE becasuse RMSE value is easy to interpret because RMSE and y values are in same unit
# So we are going to use RMSE for sales dataset evaluation

In [32]:
np.sqrt(metrics.mean_squared_error(y_test,linreg_res))

1.4046514230328953

In [34]:
# Let we remove the newspaper feature and calculate the RMSE
feature_cols = ['TV','Radio']
x = data[feature_cols]
y = data['Sales']
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=1)
linreg.fit(x_train,y_train)
y_pred = linreg.predict(x_test)
print(np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

1.3879034699382886

In [ ]:
# after leaving the feature, the error reduced. Similarly calulate RMSE based on combination of feature and select the
# less error feature.